#request-buy-1{
    margin: 40px auto!important;
    margin-top: 150px !important;
    width: auto;
    max-width: 1250px;
    position: relative;
    .request-buy-1-header{
        display: block;
        width: 100%;
        background-color: #fff;
        margin-bottom: 0;
        padding: 25px 0;
        text-align: center;
        font-size: 18px;
        color: $font-dark;
    }
    .request-buy-1-timeline{
        width: 700px;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: bold;
        padding: 0 5px;
        font-size: $primary-font-size;
    }
    .request-buy-1-timeline-text{
        width: 600px;
        display: flex;
        justify-content: space-between !important;
        margin: 0 auto;
        color: $font-dark;
        .request-buy-1-timeline-text-active{
            color: $primary-red;
        }
        .request-buy-1-timeline-text-done::after{
            background-color: #e77478;
        }
        span{
            position: relative;
        }
        span::after{
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: -32px;
            left: 40%;
            background-color: #d6d6d6;
            border-radius: 6px;
        }
        .request-buy-1-timeline-text-active::after{
    
            background-color: #fff;
            border: 3px solid  #e77478;
        }
    }
    .request-buy-1-timeline-border{
        width: 510px;
        margin: 0 auto;
        margin-top: 12px;
       div{
           width: 49.3%;
           display: inline-block;
        border-bottom: 4px solid #d6d6d6;
        margin: 0 !important;
        padding: 0 !important;
        
       }
       .active{
        border-bottom: 4px solid #e77478 !important;
    }
    }
    @media screen and (max-width :700px ){
        .request-buy-1{
            width: 110% !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
        .request-buy-1-timeline{
            width: 400px;
            
        }
        .request-buy-1-timeline-text{
            width: 400px;
        }
        .request-buy-1-timeline-border{
            width: 310px;
        }
        .request-buy-1-form{
            .form-step1{
                width: 100% !important;
            }
            .form-step2{
                width: 100% !important;
            }
            .form-step3{
                width: 100% !important;
            }
        }
    }
    @media screen and (max-width :420px ){
        .request-buy-1-timeline{
            width: 300px;
            font-size: 11px;
        }
        .request-buy-1-timeline-text{
            width: 300px;
        }
        .request-buy-1-timeline-border{
            width: 225px;
            margin-top: 13px;
        }
    }
    .request-buy-1-form-btn{
        margin-top: 10px;
        display: inline-block;
        width: 100%;
        background-color: $primary-red;
        text-align: center;
        color: #fff;
        border-radius: $radius;
        padding: 12px 0;
        transition: all ease .2s;
                    &:hover{
                        text-decoration: none;
                        background-color: $secondary-red;
                    }
    }
    .request-buy-1-form{
        background-color: #fff;
        margin-top: -9px;
        padding: 40px 0 ;
        height: auto;
        min-height: 400px;
        .form-step1{
            display: block;
            width: 700px;
            margin: auto;
            padding: 0 10px;
            label{
                font-weight: bold;
                color: $font-dark;
                margin-top: 20px;
            }
            #request-buy-1-form-region{
                cursor: pointer !important;
                width: 100%;
                border-radius: $radius;
                border: $border;
                color: #8b8b8b;
                margin: 25px 0;
                 position: relative;
                 background: url(../assets/img/ic-request-home-out-dark.png);
                 background-position: right 5px top 50%;
                 transition: all ease .2s;
                 &:hover{
                    border: 1px solid #ababab !important;

                 }
                 select{
                    background-color: #fff !important;

                     cursor: pointer;
                    color: #8b8b8b;
                    appearance:none;
                    -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                border: none;
                 width: 100%;
                 height: 100%;
                 padding: 10px 10px;
                border-radius: $radius;
                font-size: 12px;
     
                    option{
                        padding: 20px 0;
                        width: 100%;
                        color: #000;
                        appearance:none;
                        -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                   
                    }
               
                 }
                
                 .downtoggle-svg{
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: 8px;
                    left: 8px;
                    color: #8b8b8b;
                }
                }
                #request-buy-1-form-type{
                    width: 100%;
                    border-radius: $radius;
                    border: $border;
                    color: #8b8b8b;
                    margin: 25px 0;
                     position: relative;
                     background: url(../assets/img/ic-request-home-out-dark.png);
                     background-position: right 5px top 50%;
                     cursor: pointer;
                     &:hover{
                        border: 1px solid #ababab !important;
    
                     }
                     select{
                         cursor: pointer;
                         font-size: 12px;
                        color: #8b8b8b;
                        appearance:none;
                        background-color: #fff !important;
                        -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    border: none;
                     width: 100%;
                     height: 100%;
                     padding: 10px 10px;
                    border-radius: $radius;
                    option{
                        width: 100%;
                        color: #000;
                    }
                     }
                    
                     .downtoggle-svg{
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        top: 8px;
                        left: 8px;
                        color: #8b8b8b;
                    }
                    }
        }
        .form-step2{
            display: block;
            width: 700px;
            margin: auto;
            padding: 0 10px;
            .building-measure{
                display:flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 20px;
                
                span{
                    font-weight: bold;
                    color: $font-dark;
                   span{
                       display: block;
                       margin-top: 5px;
                   }
                }
                input{
                    &:hover{
                        border: 1px solid #ababab !important;
    
                     }
                     transition: all ease .2s;
                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                     appearance:none;
                    padding: 10px 10px;
                    border: $border !important;
                    border-radius: $radius;
                    color: #8b8b8b;
                    margin: 15px 0;
                     width: 110px;
                     font-size: 12px;
                }
            }
            textarea{
                &:hover{
                    border: 1px solid #ababab !important;

                 }
                 transition: all ease .2s;
                -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                     appearance:none;
                    padding: 10px 10px;
                    border: $border !important;
                    border-radius: $radius;
                    color: #8b8b8b;
                    margin: 15px 0;
                    width: 100%;
                    font-size: 12px;
                    height: 100px;
            }
            
        }
        .form-step3{
            display: block;
            width: 700px;
            margin: auto;
            padding: 0 10px;
            input{
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                 appearance:none;
                padding: 10px 10px;
                border: $border !important;
                border-radius: $radius;
                color: #8b8b8b;
                margin: 15px 0;
                 width: 100%;
                 font-size: 12px;
                 &:hover{
                    border: 1px solid #ababab !important;

                 }
                 transition: all ease .2s;
            }
        }
    }
}