$primary-red: #d7181e;
$secondary-red : #ba151a;
$primary-gray : #fafafa;
$border : 1px solid #e7e7e7;
$hvr-border : 1px solid #ababab;
$border-hover : 1px solid red;
$primary-font-size : 13px;
$font-dark : #666;
$radius : 8px;
$muted : #a5a5a5;
$color666 : #666;
$shadow : 1px 1px 5px 1px rgba(0,0,0, 0.05);
$hvr-shadow: 1px 1px 5px 1px rgba(0,0,0, 0.15);